@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif !important;
}
.uk-img-logo {
    height: 60px !important;
    margin-bottom: 5px !important;
}
.uk-navbar-container.uk-background-transparent {
    background: #fff !important;
}

.uk-navbar-nav.top-navbar li a {
    text-transform: capitalize !important;
    font-weight: 500;
    font-size: 15px;
    color: #052faa;
}
.uk-navbar-nav.top-navbar li a:hover {
    text-transform: capitalize !important;
    font-weight: 500;
    font-size: 15px;
    color: #ed462f;
}
.uk-navbar-right button.uk-button-default {
    text-transform: capitalize !important;
    background: #052faa;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 15px;
}

/* Home */
.home-section-1 {
    background-color: #ff1f001a;
}

.home-section-1 .home-services-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.home-section-1 .home-services-tabs {
    font-size: 16px;
    font-weight: 500;
}

.home-search-button {
    background-color: #ed462f;
}

.section-heading {
    font-size: 24px;
    font-weight: 700;
    color: #052faa;
    display: block;
}

.home-ml-section article {
    border: 2px #052faa solid;
    background-color: #ffffff;
}
.home-ml-section article img.uk-comment-avatar{
    height: 70px;
    width: 70px;
    background-color: #fff;
    
}
.home-ml-section article h4.uk-comment-title {
    font-size: 14px;
    font-weight: 500;
    color: #052faa;
}
.home-ml-section article p.view-all-products {
    margin-top: 5px !important;
    font-size: 12px;
    font-weight: 500;
    color: #ed462f;
}
.home-ml-section article span {
    margin-bottom: 5px !important;
}
.home-ml-section article span p {
    border-bottom: #1c42b5 solid 2px;
    padding-bottom: 5px;
    margin-bottom: 0px !important;  
}
/* All Pages */
.page-header {
    background-color: #ff1f001a;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.page-header div h1 {
    font-size: 22px !important;
    font-weight: 700;
    color: #052faa;
}

.uk-heading-bullet::before{
    border-left: calc(5px + 0.1em) solid #052faa !important;
}

.uk-tab>.uk-active>a {
    border-color: #052faa !important;
}

/* Product Services Pages */
.ps-sidebar-fixed {
    position: fixed;
    top: 80px;
    bottom: 500px !important;
    left: 4.5%;
    padding: 15px;
    padding-left: 5px;
    width: 20%;
    z-index: -1 !important;
    background-color: #fff;
}
@media screen and (min-width: 1600px) {
    .ps-sidebar-fixed {
        position: fixed;
        top: 80px;
        bottom: 0;
        left: 2.5%;
        padding: 15px;
        width: 20%;
        z-index: -1 !important;
        background-color: #fff;
    }
}
.service-details-image {
    height: 70px;
    width: 70px;
    background-color: #fff;
}
.ps-tab-header {
    background: linear-gradient(180deg, rgb(255 35 0 / 28%) 0%, rgba(255,255,255,1) 100%) !important;
    font-size: 20px !important;
    font-weight: 500;
    padding: 10px !important;
}
.ps-sections {
    padding-top: 85px !important;
}
.ps-sections:first-child {
    padding-top: 0px !important;
}

.uk-tab-left li a {
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-weight: 500;
}
.ps-tab-content {
    font-size: 12px !important;
    padding: 10px !important;
    font-weight: 300;
    color: #303030;
}
#mandatory-list tbody tr:hover {
    cursor: pointer !important;
}

.notice-detail-link:hover {
    cursor: pointer !important;
}

.notice-dl-text {
    font-size: 14px !important;
    font-weight: 500;
}

.home-blog-tabs span.uk-card-title{
    font-size: 16px !important;
    font-weight: 700;
}

.blog-cards {
    border: 1px #a3a3a3 solid !important;
    border-radius: 5px;
}

/* Footer */
.clients-scroll {
    z-index: 11 !important;
}
 
.uk-footer {
    background-color: #052faa;
    color: #fff;
    z-index: 99 !important;
}

.uk-footer .uk-nav-header {
    font-size: 16px !important;
    font-weight: 500;
    color: #fff !important;
}