@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
.uk-img-logo {
    height: 60px !important;
}

.uk-navbar-nav.top-navbar li a {
    text-transform: capitalize !important;
    font-weight: 500;
    font-size: 15px;
    color: #052faa;
}
.uk-navbar-nav.top-navbar li a:hover {
    text-transform: capitalize !important;
    font-weight: 500;
    font-size: 15px;
    color: #ed462f;
}
.uk-navbar-right button.uk-button-default {
    text-transform: capitalize !important;
    background: #052faa;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 15px;
}

/* Home */
.home-section-1 {
    background-color: #ff1f001a;
}
.home-section-1 p {
    font-size: 18px;
    font-weight: 500;
    color: #161616;
    line-height: normal;
}
.home-section-1 span.banner-heading-1 {
    font-size: 28px;
    font-weight: 700;
    color: #ed462f;
}
.home-section-1 span.banner-heading-2 {
    font-size: 22px;
    font-weight: 700;
    color: #052faa;
}
.home-section-1 span.banner-text-1 {
    font-size: 18px;
    font-weight: 500;
    color: #161616;
}
.home-section-1 .uk-comment-title {
    font-size: 14px !important;
    font-weight: 700;
    color: #161616;
}
.home-section-1 .uk-comment-meta a {
    text-transform: capitalize !important;
    font-size: 12px !important;
    font-weight: 500;
    color: #052faa;
}
.home-section-1 .uk-comment-avatar {
    padding: 5px !important;
}
.home-section-1 .home-services-tabs {
    border-radius: 5px;
}

/* All Pages */
.page-header {
    background-color: #ff1f001a;
}

.page-header div h1 {
    font-size: 22px !important;
    font-weight: 700;
    color: #052faa;
}
