@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap'); */
@font-face {
    font-family: captcha;
    src: url(captcha.ttf);
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}
body {
    color: #000 !important;
}
.uk-img-logo {
    width: 80% !important;
    margin-bottom: 5px !important;
}
.mobile-menu {
    background-color: #fff !important;
}
.mobile-menu ul li a {
    color: #052faa !important;
}

/* Captcha */
#captcha_image {
    background-image: url(../images/captacha-bg.svg) !important;
    padding: none;
}

/* Page */
.page-header {
    background-color: #FFE8E5;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.page-header div h2 {
    font-size: 22px !important;
    font-weight: 700;
    color: #052faa;
}
.mobile-page-image {
    height: 50px;
    width: 50px;
    background-color: #fff;
}
.mobile-section-heading {
    font-size: 18px !important;
    font-weight : bold !important;
}
.section-title {
    font-weight: 500;
    background-color: #e0e0e0;
}
.section-content {

}

/* Home Page */
.home-services-img {
    width: 60px !important;
}

.home-banner-image {
    height: 50% !important;
}

.section-heading {
    font-size: 24px;
    font-weight: 700;
    color: #052faa;
    display: block;
}

.home-ml-section article {
    border: 2px #052faa solid;
    background-color: #ffffff;
}
.home-ml-section article img.uk-comment-avatar{
    height: 70px;
    width: 70px;
    background-color: #fff;
    
}
.home-ml-section article h4.uk-comment-title {
    font-size: 14px;
    font-weight: 500;
    color: #052faa;
}
.home-ml-section article p.view-all-products {
    margin-top: 5px !important;
    font-size: 12px;
    font-weight: 500;
    color: #ed462f;
}
.home-ml-section article span {
    margin-bottom: 5px !important;
}
.home-ml-section article span p {
    border-bottom: #7d99ec solid 2px;
    padding-bottom: 5px;
    margin-bottom: 0px !important;  
}

.home-blog-title {
    font-size: 18px !important;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.home-blog-content {
    margin-top: 30px !important;
}
.home-blog-content p {
    display: none;
    margin-bottom: none !important;
}
.home-blog-content p:first-child {
    display: block;
}
.home-blog-content p:first-child span {
    font-size: 14px !important;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.home-blog-link {
    font-size: 12px !important;
    font-weight: 500;
    color: #ed462f !important;
}

.wcu-tabs div.uk-width-expand h3 {
    font-size: 20px !important;
    font-weight: 500;
}

/* Contact Page */
.contact-form-submit {
    border: 2px #052faa solid;
    background-color: #ffffff;
    color: #052faa;
}
.contact-form-submit:hover {
    background-color: #052faa;
    border: 2px #052faa solid;
    color: #ffffff;
}

/* Brochure form  */
.brochure-form-submit {
    border: 2px #052faa solid;
    background-color: #ffffff;
    color: #052faa;
}
.brochure-form-submit:hover {
    background-color: #052faa;
    border: 2px #052faa solid;
    color: #ffffff;
}

/* Footer section */

.clients-scroll {
    z-index: 99 !important;
}
.clients-scroll h3 {
    font-weight: 500;
    color: #052faa;
    margin-top: 10px !important;
}
 
section.website-footer {
    background-color: #052faa;
    color: #fff;
    z-index: 99 !important;
    position: relative;
}

.uk-footer .uk-nav-header {
    font-size: 16px !important;
    font-weight: 500;
    color: #fff !important;
}

.footer-logo {
    background: #ffffff;
    border-radius: 5px;
    height: 50px;
}
.footer-social a {
    border: 1px solid #ffffff;
    padding: 3px !important;
    border-radius: 5px;
    margin-right: 5px;;
}

.back-to-top {
    background-color: #e7e7e7 !important;
    color: #052faa !important;
    border: #052faa solid 2px;
    z-index: 99 !important;
}
.back-to-top a {
    font-weight: 900;
    color: #052faa !important;
}
.back-to-top:hover {
    background-color: #9c9c9c !important;
    color: #ffffff;
}
.back-to-top:hover a span {
    color: #ffffff;
}
