@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap'); */
@font-face {
    font-family: captcha;
    src: url(captcha.ttf);
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}
body {
    color: #000 !important;
}
.uk-img-logo {
    width: 80% !important;
    margin-bottom: 5px !important;
}
.mobile-menu {
    background-color: #fff !important;
}
.mobile-menu ul li a {
    color: #052faa !important;
}

/* Home Page */
.home-services-img {
    width: 60px !important;
}

.home-banner-image {
    height: 50% !important;
}

.section-heading {
    font-size: 24px;
    font-weight: 700;
    color: #052faa;
    display: block;
}

.home-ml-section article {
    border: 2px #052faa solid;
    background-color: #ffffff;
}
.home-ml-section article img.uk-comment-avatar{
    height: 70px;
    width: 70px;
    background-color: #fff;
    
}
.home-ml-section article h4.uk-comment-title {
    font-size: 14px;
    font-weight: 500;
    color: #052faa;
}
.home-ml-section article p.view-all-products {
    margin-top: 5px !important;
    font-size: 12px;
    font-weight: 500;
    color: #ed462f;
}
.home-ml-section article span {
    margin-bottom: 5px !important;
}
.home-ml-section article span p {
    border-bottom: #7d99ec solid 2px;
    padding-bottom: 5px;
    margin-bottom: 0px !important;  
}