@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap'); */
@font-face {
    font-family: captcha;
    src: url(captcha.ttf);
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}
.cookie-pop {
    z-index: 9999;
    border-bottom: 1px #7a7a7a solid;
}
.site-blue {
    color: #052faa !important;
}

.site-orange {
    color: #ed462f !important;
}
body {
    color: #000 !important;
}
.uk-img-logo {
    width: 80% !important;
    margin-bottom: 5px !important;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    justify-content: left !important;
}

.mobile-menu {
    background-color: #fff !important;
}
.mobile-menu ul li a {
    font-size: 20px;
    color: #052faa !important;
}
.mobile-menu ul li ul li a::before  {
    content: "➤ ";
}
.mobile-menu ul li {
    border-bottom: 1px solid #052faa;
}
.mobile-menu ul li:last-child,  .mobile-menu ul li ul li {
    border-bottom: none;
}
.mobile-menu ul li ul li a {
    font-size: 16px;
}

.uk-offcanvas-close svg {
    height: 20px;
    width: 20px;
}

.mobile-menu-poweredby {
    padding-left: 12px !important;
    font-size: 14px !important;
    font-weight: 500;
    color: #8b8b8b;
}

.uk-offcanvas-close {
    color: #052faa !important;
}

/* Captcha */
#captcha_image {
    background-image: url(../images/captacha-bg.svg) !important;
    padding: none;
}

/* Page */
.page-header {
    background-color: #FFE8E5;
    line-height: 1;
}
.page-header div h2 {
    font-size: 22px !important;
    font-weight: 700;
    color: #052faa;
}
.mobile-page-image {
    height: 50px;
    width: 50px;
    background-color: #fff;
}
.mobile-section-heading {
    font-size: 18px !important;
    font-weight : bold !important;
}
.section-title {
    font-weight: 500;
    background-color: #e0e0e0;
}
.uk-open>.uk-accordion-title.section-title::before {
    background-image: url('../images/up-chevron-svgrepo-com.svg') !important;
    background-size: 13 13;
}
.uk-accordion-title.section-title::before {
    background-image: url('../images/down-chevron-svgrepo-com.svg') !important;
    background-size: 13px !important;
}

/* .section-content {

} */

/* Home Page */
.home-services-img {
    width: 60px !important;
}

.home-banner-image {
    height: 50% !important;
}
.home-search-button {
    background-color: #ed462f;
}
.section-heading {
    font-size: 24px;
    font-weight: 700;
    color: #052faa;
    display: block;
}

.home-ml-section article {
    border: 2px #052faa solid;
    background-color: #ffffff;
}
.home-ml-section article img.uk-comment-avatar{
    height: 70px;
    width: 70px;
    background-color: #fff;
    
}
.home-ml-section article h4.uk-comment-title {
    font-size: 14px;
    font-weight: 500;
    color: #052faa;
}
.home-ml-section article p.view-all-products {
    margin-top: 5px !important;
    font-size: 12px;
    font-weight: 500;
    color: #ed462f;
}
.home-ml-section article span {
    margin-bottom: 5px !important;
}
.home-ml-section article span p {
    border-bottom: #7d99ec solid 2px;
    padding-bottom: 5px;
    margin-bottom: 0px !important;  
}

.home-blog-title {
    font-size: 18px !important;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.home-blog-content {
    margin-top: 30px !important;
}
.home-blog-content p {
    display: none;
    margin-bottom: none !important;
}
.home-blog-content p:first-child {
    display: block;
}
.home-blog-content p:first-child span {
    font-size: 14px !important;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.home-blog-link {
    font-size: 12px !important;
    font-weight: 500;
    color: #ed462f !important;
}

.wcu-tabs div.uk-width-expand h3 {
    font-size: 20px !important;
    font-weight: 500;
}

/* Blogs */
.blogs-group-title {
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
.blogs-group-image {
    width: 100%;
    height: 150px;
    background-color: #fff;
    object-fit: fill;
}
.blog-detail-image {
    width: 100% !important;
}
.blog-content p {
    display: none;
}
.blog-content p:first-child {
    display: block;
    font-size: 14px !important;
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.slider-arrows {
    background-color: #e7e7e7 !important;
    color: #000000 !important;
    border: 1px #052faa solid !important;
}
.blog-content p:first-child span {
    font-size: 14px !important;
    overflow: hidden;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.blog-content ol, .blog-content ul, .blog-content div, .blog-content p, .blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6, .blog-content blockquote, .blog-content pre, .blog-content table, .blog-content dl, .blog-content address, .blog-content fieldset, .blog-content form, .blog-content hr, .blog-content noscript, .blog-content iframe, .blog-content figure, .blog-content figcaption, .blog-content audio, .blog-content video, .blog-content canvas, .blog-content details, .blog-content marquee, .blog-content template {
    display: none;
}

.blog-detail-title {
    font-size: 24px !important;
    font-weight: 500;
    color: #000;
}

.blog-pagination nav ul.pagination{
    list-style-type: none;
    padding: 0px;
}

.blog-pagination nav ul.pagination li {
    display: inline-block;
    font-size: 14px !important;
    font-weight: 500;
    color: #052faa;
    padding: 5px 15px !important;
    border: 1px solid #c6c6c6;
}

.blog-pagination nav ul.pagination li.active {
    display: inline-block;
    padding: 5px 15px !important;
    border: 1px solid #ed462f;
    color: #ed462f;
}

.blog-pagination nav ul.pagination li.disabled {
    display: inline-block;
    padding: 5px 15px !important;
    border: 1px solid #c6c6c6;
}

.blog-pagination nav ul.pagination li:hover {
    color: #ed462f;
}

/* Contact Page */
.contact-form-submit {
    border: 2px #052faa solid;
    background-color: #ffffff;
    color: #052faa;
}
.contact-form-submit:hover {
    background-color: #052faa;
    border: 2px #052faa solid;
    color: #ffffff;
}

/* Service Section */
.service-heading span p {
    margin: 0;
    padding: 0;
}
.ps-tab-header {
    color: #052faa !important;
    background-color: #e0e0e0;
    font-size: 24px !important;
    font-weight: 500;
    padding: 10px !important;
}

.faq-element:first {
    margin-top: 30px !important;
}

.faq-element {
    border: 1px solid #b4b4b4;
}

.faq-question {
    font-weight: 500;
    font-size: 12pt;
    padding: 5px;
    color : #000;
}
.faq-answer {
    font-size: 12pt;
    padding: 5px;
}

/* Datatables */
.dt-merge-grid div.uk-width-1-1 {
    overflow-x: scroll;
}
table.dataTable {
    width: 150% !important;
} 
.dt-merge-grid div.uk-width-2-5 {
    display: none !important;
}

/* View & Download */
.view-file {
    font-size: 14px !important;
    font-weight: 500;
    color: #052faa !important;
    text-decoration: none !important;
}
.download-file {
    font-size: 14px !important;
    font-weight: 500;
    color: #ed462f !important;
    text-decoration: none !important;
}

/* Social section */
.social-share-section a {
    border: 1px solid #a3a3a3;
    padding: 3px !important;
    border-radius: 5px;
    font-size: 12px !important;
}
.social-share-section span {
    font-size: 12px !important;
    margin-bottom: 20px !important;
}
.social-share-section a.twitter:hover {
    border: 1px solid #a3a3a3;
    padding: 3px !important;
    border-radius: 5px;
    background-color: #a3a3a3;
    color: #000;
}
.social-share-section a.facebook:hover {
    border: 1px solid #a3a3a3;
    padding: 3px !important;
    border-radius: 5px;
    background-color: #a3a3a3;
    color: #1877F2;
}
.social-share-section a.linkedin:hover {
    border: 1px solid #a3a3a3;
    padding: 3px !important;
    border-radius: 5px;
    background-color: #a3a3a3;
    color: #0077b5;
}
.social-share-section a.whatsapp:hover {
    border: 1px solid #a3a3a3;
    padding: 3px !important;
    border-radius: 5px;
    background-color: #a3a3a3;
    color: #075e54;
}

/* Media coverage images */

.news-articles h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

/* Brochure form  */
.brochure-form-submit {
    border: 2px #052faa solid;
    background-color: #ffffff;
    color: #052faa;
}
.brochure-form-submit:hover {
    background-color: #052faa;
    border: 2px #052faa solid;
    color: #ffffff;
}
.brochure-section {
    box-shadow: 1px 3px 7px #a8a8a8 !important;
    z-index: 97 !important;
    position: relative !important;
}

/* Partner form */
.partner-form-btn {
    border: 2px solid #052faa;
    background-color: #ffffff;
    color: #052faa;
}

.partner-form-btn:hover {
    border: 2px solid #052faa;
    background-color: #052faa;
    color: #ffffff;
}

/* breadcrumbs */
.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    margin: 0 5px 0 calc(5px - 4px) !important;
}

/* Footer section */

.clients-scroll {
    z-index: 90 !important; position: relative !important;
}
.clients-scroll h3 {
    font-weight: 500;
    color: #052faa;
    margin-top: 10px !important;
}
 
section.website-footer {
    background-color: #052faa;
    color: #fff;
    z-index: 99 !important;
    position: relative;
}

.uk-footer .uk-nav-header {
    font-size: 16px !important;
    font-weight: 500;
    color: #fff !important;
}

.footer-logo {
    background: #ffffff;
    border-radius: 5px;
    height: 50px;
}
.footer-social a {
    border: 1px solid #ffffff;
    padding: 3px !important;
    border-radius: 5px;
    margin-right: 5px;;
}

.back-to-top {
    background-color: #e7e7e7 !important;
    color: #052faa !important;
    border: #052faa solid 2px;
    z-index: 99 !important;
}
.back-to-top a {
    font-weight: 900;
    color: #052faa !important;
}
.back-to-top:hover {
    background-color: #9c9c9c !important;
    color: #ffffff;
}
.back-to-top:hover a span {
    color: #ffffff;
}
